@use '../../../../custom' as *;

.category_intro_section {

    .intro-section-box {

        .intro-banner {
            background-color: #1987542b;
            height: 9rem;
            margin-bottom: 3.3rem;
            border-radius: 2rem;
            padding: 2rem 3rem 2rem 3rem;

            .breadcrumb-box {

                li {

                    a {
                        text-decoration: none;
                        color: $primary;
                        font-weight: 500;
                    }
                }
                .breadcrumb-item + .breadcrumb-item::before {
                    content: ">";
                }

            }
        }

        .category-collection {

            h3 {
                margin: 0rem 0rem 1.5rem 1.5rem;
            }

            .category-collection-box {
                border: 2px solid $black;
                display: flex;
                flex-wrap: wrap;
                gap: 3rem 0.29rem;
                margin-top: 1rem;
                overflow-x: hidden;
                overflow-y: scroll;
                height: 150vh;
    
                .category-box {
                    border: 2px solid $gray-200;
                    width: 17rem;
                    height: 27rem;
                    border-radius: 15px;
                    padding: 0.7rem 1.5rem 1.5rem 1.5rem;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
                    .category-image {
                        width: 13rem;
                        height: 15rem;
                        margin: 0  auto 1rem auto;
                        border-radius: 1rem;
                        border: 2px solid $gray-200;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 1rem;
                        }
                    }
                }
            }
            
            /* Custom Scrollbar for WebKit Browsers */
            .category-collection-box::-webkit-scrollbar {
                width: 10px;                /* Width of the scrollbar */
            }
            
            .category-collection-box::-webkit-scrollbar-track {
                background: #f1f1f1;        /* Background of the scrollbar track */
            }
            
            .category-collection-box::-webkit-scrollbar-thumb {
                background: #888;           /* Color of the scrollbar thumb */
                border-radius: 5px;         /* Rounded edges for the thumb */
            }
            
            .category-collection-box::-webkit-scrollbar-thumb:hover {
                background: $primary;           /* Color when hovered */
            }
        }
    }
}