@use '../../../../custom' as *;

.wishlist_intro_section {
    padding-top: 5rem;
    min-height: 100vh;

    h1.title {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    p.subtitle {
        text-align: center;
        margin-bottom: 3rem;
    }

    .wishlist-intro-box {

        table {

            td, th {
                text-align: center;
                width: 14%;
            }

            .num {
                width: 5%;
            }

            .no-wishlist-text {

                a {
                    color: $primary;
                    text-decoration: none;
                }
            }

            a.remove-from-wishlist {

                i {
                    color: $red;
                    font-size: 1.3rem;
                }  
            }
        }
    }
}