@use '../../../../custom' as *;

.shop_features_section {
    margin-bottom: 4rem;

    .feature-title {
        text-align: center;

        h1.feature-title {
            font-size: 3.5rem;
            margin-bottom: 1.5rem;
        }
    }

    .shop-feature-collection-box {
        border: 2px solid $black;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 3rem 1.75rem;

        .feature-box {
            width: 200px;
            height: 210px;
            border-radius: 10px;
            border: 2px solid $gray-200;
            padding: 5px;

            .feature-image {
                width: 100%;
                height: 85%;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }

            .feature-name {
                text-align: center;
                margin-top: 0.5rem;
            }
        }
    }
}