@use 'custom' as *;
@use 'components/mixins' as *;

.navbar_section {

    .navbar {
        background-color: $white;
        min-height: 5rem;
        padding: 0 5rem 0 5rem;

        .company-logo {
            position: relative;
    
            svg {
                height: 2.7rem;
                width: 2.7rem;
            }
    
            .company-name {
                position: absolute;
                top: 7px;
                left: 50px;
                margin-left: 5px;
        
            }
        }
    
        .menu-list-items {
            display: flex;
            justify-content: flex-end;
    
            .search {
                width: 25rem;
                padding-top: 15px;
                margin-left: 2rem;
                
                form {
                    position: relative;

                    button {
                        position: absolute;
                        top: 50%;
                        right: 2%;
                        transform: translateY(-50%);
                    }
                }
            }
    
            ul.icon-list {
                display: flex;
                justify-content: space-between;
                margin-right: 2.1rem;
                width: 40%;
                text-transform: none;
                padding-top: 13px;
    
                li {
                    text-transform: none;
                    margin-left: 4rem;

                    .nav-link {
                        position: relative;
                        text-transform: none;

                        i {
                            font-size: 1.3rem;
                            text-transform: none;
                        }

                        span {
                            position: absolute;
                            top: 50%;
                            left: 80%;
                            font-size: 1rem;
                            color: $black;
                            text-transform: none;
                        }

                        .num-of-wishlist, .num-of-notification, .num-of-inbox  {
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background-color: $primary;
                            color: $white;
                            top: 0%;
                            left: 50%;
                            text-align: center;
                            display: none;

                            p {
                                margin: 0;
                            }

                        }
                    }
                }

                li.inbox {
                    margin-left: 5rem;
                }

                li.account-item {
                    position: relative;
                    cursor: pointer;
                    
                    ul.account-submenu {
                        position: absolute;
                        display: none;
                        top: 13%;
                        min-width: 9rem;
                        min-height: 12rem;
                        padding-top: 3.3rem;
                        padding-left: 0;
                        transition: 0.3s ease;
                        z-index: 9999;

                        .submenu-box {
                            background-color: $white;

                            a {
                                text-transform: capitalize;
                                text-decoration: none;
                                color: $black;
    
                                li {
                                    list-style-type: none;
                                    font-size: 1rem;
                                    text-align: left;
                                    display: block;
                                    padding: 0.5rem;
                                    border-radius: 5%;
                                    border: 1px solid $gray-400;
                                    margin-left: 0;
    
                                    li:nth-child(2) {
                                        margin-left: 0rem;
                                    }
    
                                    i {
                                        margin-right: 10px;
                                    }
                                }
    
                                &:hover {
                                    background-color: #000;
                                    color: $primary; 
                                }
                            }
                        }
                    }
                    
                    &:hover .account-submenu {
                        display: block;
                        transform-origin: top;
                        animation: dropdown-animate 0.5s;
                    }
                }                  
            }
        }
    }
}