{% extends "core/owner/owner-base.html" %}

{% block title %}
Products
{% endblock %}

{% block content %}

<!-- Category Detail Intro Section -->
<section class="category_detail_intro_section">
    <div class="container">
        <div class="intro-section-box">
            <div class="intro-banner">
                <h3>{{ category.name }}</h3>

                <div class="breadcrumb-box">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:owner_shop' %}">Shop</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'core:category' %}">Categories</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                      </ol>
                </div>

            </div>
            <div class="product-collection">
                {% if products %}

                    <h3>

                        {% if products.count  == 1 %}
                            1 Product
                        {% else %}
                            {{ products.count  }} Products
                        {% endif %}

                    </h3>
                        
                        <div class="product-collection-box">

                            {% for product in products %}

                                <div class="product-box">

                                    <a href="{% url 'core:product_detail' product.productId %}">
                                        <div class="product-image">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }} image">
                                        </div>
                                    </a>

                                    <a href="#" class="add-to-wishlist" data-product-item="{{ product.productId }}">
                                        <i class="fa-solid fa-heart {% if product.productId in wishlist_items %}green-heart{% endif %}">
                                        </i>
                                    </a>
                                
                                    <p>{{ product.category.name }}</p>
                                    <h4>{{ product.name }}</h4>
                                    <p>By {{ product.shop.name }}</p>

                                    <div class="price-and-button">
                                        <p class="price">${{ product.price }}</p>
                                    </div>

                                </div>

                            {% endfor %}
                        </div>

                {% else %}
                    {% if user.user_type == 'business_owner' %}
                        <p class="no-products-text">No products available. <a href="#">Click here</a> to create products</p>
                    {% else %}
                        <p>No products available.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}