{% extends "core/base.html" %}

{% load static %}

<!-- Owner Submenu Section -->
{% block submenu %}

<section class="owner_submenu_section">
    <div class="container">
        <div class="owner-submenu-section-box">
            <ul class="submenu">
                <li><a href="{% url 'core:owner_shop' %}">Shop</a></li>
                <li><a href="{% url 'core:product' %}">Products</a></li>
                <li><a href="{% url 'core:category' %}">Categories</a></li>
                {% if user.user_type == 'business_owner' %}
                    <li><a href="{% url 'core:admin' %}">Admin</a></li>
                    <li><a href="{% url 'core:inventory' %}">Inventory</a></li>
                    <li><a href="{% url 'core:factory' %}">Factory</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}

<!-- Space to Display Error & Success Messages -->

{% block message %}

<section class="owner_submenu_message_box_section">

  {% if messages %}
    {% for message in messages %}

      <div class="alert alert-dismissible message-box fade show 
        {% if 'error' in message.tags %}alert-danger{% endif %}
        {% if 'success' in message.tags %}alert-success{% endif %}
        {% if 'info' in message.tags %}alert-info{% endif %}
        " role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    {% endfor %}
  {% endif %}

</section>


{% endblock %}