{% extends "core/owner/owner-base.html" %}

{% load static %}

{% block title %}
Product({{ product.name }})
{% endblock %}

{% block content %}

<!-- Product Detail Intro Section -->

<section class="product_detail_intro_section">

    <div class="container">

        <div class="intro-banner">
            <h3>{{ product.name }}</h3>
    
            <div class="breadcrumb-box">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:owner_shop' %}">Shop</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'core:product' %}">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                  </ol>
            </div>
    
        </div>

        <div class="product-detail-intro-box">
            <div class="product-image">
                <div class="image-box">
                    <img id="main-image" src="{{ product.image.url }}" alt="{{ product.name }} image" class="img-fluid">
                </div>
            
                <div class="more-product-images">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% if product_images %}
                                <div class="carousel-item active" data-img="{{ product.image.url }}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }} image">
                                </div>
                                {% for img in product_images %}
                                    <div class="carousel-item" data-img="{{ img.image.url }}">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="{{ img.product.name }}">
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="text-center">No more images available.</p>
                            {% endif %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-description">
                <h4>{{ product.name }}</h4>
                {% if user.user_type == 'business_owner' %}
                    <div class="offer-discount">
                        <button id="clock-icon"><i class="fa-solid fa-clock"></i></button>
                    </div>
                {% endif %}

                <div class="price">
                    <p class="new-price">{{ product.price }}</p>
                    <p class="old-price">{{ product.old_price }}</p>
                </div>
                <p><b>Description: </b>{{ product.description|striptags|truncatechars:100 }}</p>
                <p><b>Specifications: </b>{{ product.specifications|striptags|truncatechars:100 }}</p>

                <a href="#" class="btn add-btn">Add</a>
        
                <div class="more-detail">
                    <p><b>Shop:</b> {{ product.shop.name }}</p>
                    <p><b>Category:</b> {{ product.category.name }}</p>
                    <p><b>Date: </b> {{ product.created_at|date:"M d, Y" }}</p>
                    <p><b>MFG:</b> 
                        {% if product.mfg %}
                            {{ product.mfg|date:"M d, Y" }}
                        {% else %}
                            Not Specified
                        {% endif %}
                    </p>                        
                    <p><b>In Stock:</b> {{ product.stock_quantity }}</p>
                    <p class="tag"><b>Tags:</b>
                        {% if product.tags.exists %}
                            {% for tag in product.tags.all %} <a href="{% url 'core:tag' tag.slug %}">#{{ tag.name|lower }}</a> {% endfor %}
                        {% else %}
                            Not Specified
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="shop-and-discount">
                <div class="product-shop">
                    <h3>Shop</h3>
                    <p class="shop-name"><i class="fa-solid fa-shop"></i>&nbsp;&nbsp;{{ shop.name }}</p>
                    <div class="shop-detail">
                        <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;{{ shop.address }}</p>
                        <p><i class="fa-solid fa-headphones"></i>&nbsp;&nbsp;{{ shop.contact }}</p>
                    </div>
                </div>

                <div id="discount-section">
                    <!-- The discount timer will be injected here after a successful discount creation -->
                     <!-- This is for automatic rendering of the countdown timer -->

                    <!-- This is the same block of code but this is to render it even during reload -->
                     {% if discounted_product %}
                        <div class="discount-timer">
                            <table id="countdown">
                                <tr id="countdown-timer">
                                    <td><span id="days">0</span></td>
                                    <td><span id="hours">0</span></td>
                                    <td><span id="minutes">0</span></td>
                                    <td><span id="seconds">0</span></td>
                                </tr>
                                <tr id="countdown-labels">
                                    <td><span>d</span></td>
                                    <td><span>hr</span></td>
                                    <td><span>min</span></td>
                                    <td><span>sec</span></td>
                                </tr>
                            </table>                        
                            <button id="delete-discount-button" data-product-id="{{ product.productId }}" class="hidden">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    {% endif %}

                </div>
                

                <div class="discount-box" id="discount-form">
                    <form method="POST" action="{% url 'core:apply_discount' product.productId %}">
                        {% csrf_token %}
                        <label for="original-price">Original Price</label>
                        <input type="text" id="original-price" name="original_price" placeholder="Enter original price" value="{{ product.price }}" readonly>

                        <label for="new-price">New Price</label>
                        <input type="text" id="new-price" name="new_price" placeholder="Enter new price" value="{% if discounted_product %}{{ discounted_product.new_price }}{% endif %}" required>
                        
                        <label for="discount-time">Discount Valid Until</label>
                        <input type="datetime-local" id="discount-time" name="discount_until" value="{% if discounted_product and discounted_product.discount_until %}{{ discounted_product.discount_until|date:'Y-m-d\TH:i' }}{% endif %}" required>
                
                        <button class="add-discount-btn" type="submit">Apply Discount</button>
                    </form>
                </div>             
            </div>
        </div>
    </div>
</section>

<!-- Product Detail Tab Section -->

<section class="product_detail_tab_section">
    <div class="container">
        <ul class="nav nav-pills mb-3 tab" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active rounded-pill" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="true">Description</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link rounded-pill" id="pills-additional-info-tab" data-bs-toggle="pill" data-bs-target="#pills-additional-info" type="button" role="tab" aria-controls="pills-additional-info" aria-selected="false">Additional Info</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link rounded-pill" id="pills-shop-tab" data-bs-toggle="pill" data-bs-target="#pills-shop" type="button" role="tab" aria-controls="pills-shop" aria-selected="false">Shop</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-pill" id="pills-video-tab" data-bs-toggle="pill" data-bs-target="#pills-video" type="button" role="tab" aria-controls="pills-video" aria-selected="false">Video</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab" tabindex="0">{{ product.description|safe }}</div>
            <div class="tab-pane fade" id="pills-additional-info" role="tabpanel" aria-labelledby="pills-additional-info-tab" tabindex="0">{{ product.specifications|safe }}</div>
            <div class="tab-pane fade shop-tab" id="pills-shop" role="tabpanel" aria-labelledby="pills-shop-tab" tabindex="0">
                <div class="product-shop">
                    <h3>Shop</h3>
                    <p class="shop-name"><i class="fa-solid fa-shop"></i>&nbsp;&nbsp;{{ shop.name }}</p>
                    <div class="shop-detail">
                        <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;{{ shop.address }}</p>
                        <p><i class="fa-solid fa-headphones"></i>&nbsp;&nbsp;{{ shop.contact }}</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade video-tab" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab" tabindex="0">

                <div class="video-box">
                    {% if product.video %}
                        <div class="vid-box">
                            <div class="vid">
                                <video class="main-video" id="main-video" style="pointer-events: none;">
                                    <source src="{{ product.video.video.url }}">
                                </video>
                                <i class="fa-regular fa-circle-play play" onclick="playMainVideo(this)"></i>
                                {% if product.video.description %}
                                    <button class="description-btn" onclick="toggleDescription('main-video-desc')"><i class="fa-solid fa-note-sticky"></i></button>
                                {% endif %}
                            </div>
                            <div class="vid-description" id="main-video-desc" style="display: none;">
                                <p>{{ product.video.description|safe }}</p>
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if product_videos %}
                        {% for vid in product_videos %}
                        <div class="vid-box">
                            <div class="vid">
                                <video class="more-video" id="video-{{ forloop.counter }}" style="pointer-events: none;">
                                    <source src="{{ vid.video.url }}">
                                </video>
                                <i class="fa-regular fa-circle-play play" onclick="playMoreVideo(this, 'video-{{ forloop.counter }}')"></i>
                                {% if vid.description %}
                                    <button class="description-btn" onclick="toggleDescription('vid-desc-{{ forloop.counter }}')"><i class="fa-solid fa-note-sticky"></i></button>
                                {% endif %}
                            </div>
                            <div class="vid-description" id="vid-desc-{{ forloop.counter }}" style="display: none;">
                                <p>{{ vid.description|safe }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                
                    {% if not product.video and not product_videos %}
                        <p>No demo videos available. Click here to upload.</p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Related Products Section -->

<section class="related_products_section">
    <div class="container">
        <div class="related-product-section-box">

                <h3>Related Products</h3>

                <div class="related-product-collection-box">
    
                    {% if related_products %}
    
                        {% for product in related_products%}

                                <div class="product-box">
                                        
                                    <a href="{% url 'core:product_detail' product.productId %}">
                                        <div class="product-image">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }} image">
                                        </div>
                                    </a>

                                    <p>{{ product.category.name }}</p>
                                    <h4>{{ product.name }}</h4>
                                    <p>By {{ product.shop.name }}</p>

                                    <div class="price-and-button">
                                        <p>{{ product.price }}</p>
                                        <p>{{ product.old_price }}</p>
                                        <a href="#" class="btn add-btn">Add</a>
                                    </div>

                                </div>
    
                        {% endfor %}
                    
                    {% else %}
                        {% if user.user_type == 'business_owner' %}
                            <p>No related products available. <a href="#">Click here</a> to create products</p>
                        {% else %}
                            <p>No related products available.</p>
                        {% endif %}
                    {% endif %}
    
                </div>

        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

<script>
    const productId = "{{ product.productId }}";
    const userType = "{{ user.user_type }}";
    const existingDiscountEndTime = "{{ discounted_product.discount_until|date:'c' }}";
</script>
<script src="{% static 'js/custom-scripts/owner/product-detail.js' %}"></script> 


{% endblock %}