{% extends "core/owner/owner-base.html" %}

{% load static %}

{% block title %}
Search
{% endblock %}

{% block content %}

<!-- Search Result Section -->

<section class="search_result_section">
    <div class="container">

        <div class="result-section-box">

            <div class="intro-banner">
                {% if products %}

                <h3>{{ query|truncatechars:30 }}</h3>

                {% else %}

                <h4>Oops! Search Again</h4>

                {% endif %}

                <div class="breadcrumb-box">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:owner_shop' %}">Shop</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'core:product' %}">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ query|truncatechars:30 }}</li>
                      </ol>
                </div>

            </div>

            <!-- Filtering -->
            <div class="container">
                <div class="filter-box">
                
                    {% if products %}
                        {% if categories %}
            
                            <div class="filter-by-category">
                                
                                <a href="{% url 'core:category' %}">
                                    <h3>Category</h3>
                                </a>
                                
                                <div class="category-collection">
                                    {% for category in categories%}
                
                                        <div class="category-box">
                                            <label class="category-label">
                                                <input type="checkbox" class="category-checkbox filter-checkbox" data-filter="category" value="{{ category.categoryId}}">
                                                &nbsp;<p class="category-name">{{ category.name }}</p>
                                            </label>
                                        </div>                                                                    
                
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="filter-by-price">
                                <h3>Filter by Price</h3>
                                <div class="price-filter-box">
                                    <div class="min-price">
                                        <label for="min-price-input">Min Price:</label>
                                        <input type="number" id="min-price-input" name="min-price" step="0.01" placeholder="Min Price">
                                        <p class="error" id="min-price-error">Minimum price cannot be greater than maximum price.</p>
                                        <div class="error" id="negative-min-error">Minimum price cannot be negative.</div>
                                    </div>
                                    
                                    <div class="max-price">
                                        <label for="max-price-input">Max Price:</label>
                                        <input type="number" id="max-price-input" name="max-price" step="0.01" placeholder="Max Price">
                                        <div class="error" id="max-price-error">Maximum price cannot be negative.</div>
                                    </div>                                    
                                </div>
                            </div>                            

                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="product-collection" id="filtered-product">
                {% if products %}

                    <h3>

                        {% if products.count  == 1 %}
                            1 Product
                        {% else %}
                            {% if products.count == 0 %}
                                <p>You have no products</p>
                            {% else %}
                                {{ products.count }} Products
                            {% endif %}
                        {% endif %}

                    </h3>
                        
                        <div class="product-collection-box">

                            {% for product in products %}

                                <div class="product-box">
                                
                                    <a href="{% url 'core:product_detail' product.productId %}">
                                        <div class="product-image">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }} image">
                                        </div>
                                    </a>

                                    <p>{{ product.category.name }}</p>
                                    <h4>{{ product.name }}</h4>
                                    <p>By {{ product.shop.name }}</p>

                                    <div class="price-and-button">
                                        <p class="price">${{ product.price }}</p>
                                    </div>

                                </div>

                            {% endfor %}
                        </div>

                {% else %}
                    <p>No products available. <a href="#">Click here</a> to create products</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/custom-scripts/owner/search.js' %}"></script>  

{% endblock %}