{% extends "core/owner/owner-base.html" %}

{% load static %}

{% block title %}
Product({{ product.name }})
{% endblock %}

{% block content %}
<section class="wishlist_intro_section">
    <div class="container">
        <div class="wishlist-intro-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">
                        #
                    </th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock Status</th>
                    <th scope="col">Remove</th>
                </tr>
                </thead>

                <tbody>
                {% if wishlist_products %}
                    {% for wishlist in wishlist_products %}

                        <tr>
                            <th scope="row">
                                {{ forloop.counter }}
                            </th>
                            <td>{{ wishlist.product.name|title|truncatechars:30 }}</td>
                            <td>{{ wishlist.product.product_status }}</td>
                            <td>{{ wishlist.product.check_stock_status }}</td>
                            <td>
                                <a href="#" class="remove-from-wishlist" data-product-id="{{ wishlist.id }}">
                                <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No wishlist products. <a href="{% url 'core:owner_shop' %}">Click here to go back.</a></td>
                    </tr>
                {% endif %}
                </tbody>


            </table>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var csrfToken = "{{ csrf_token }}";
</script>

<script src="{% static 'js/custom-scripts/owner/wishlist.js' %}"></script>  

{% endblock %}