{% extends "core/base.html" %}

{% load static %}

{% block title %}
Wishlist
{% endblock %}

{% block content %}
<section class="wishlist_intro_section">
    <h1 class="title">Create Your Personalized Wishlist!</h1>
    <p class="subtitle">Discover, save, and share the items you love the most!</p>
    <div class="container">
        <div class="wishlist-intro-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="num">
                        #
                    </th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock Status</th>
                    <th scope="col">Remove</th>
                </tr>
                </thead>

                <tbody>
                {% if wishlist_products %}
                    {% for wishlist in wishlist_products %}

                        <tr>
                            <td scope="row" class="num">
                                {{ forloop.counter }}
                            </td>
                            <td>{{ wishlist.product.name|title|truncatechars:30 }}</td>
                            <td>{{ wishlist.product.price }}</td>
                            <td>{{ wishlist.product.check_stock_status }}</td>
                            <td>
                                <a href="#" class="remove-from-wishlist" data-product-id="{{ wishlist.id }}">
                                <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center no-wishlist-text">
                            No wishlist products.
                            {% if user.user_type == "business_owner" %}
                                <a href="{% url 'core:owner_shop' %}">Click here to go back.</a>
                            {% elif user.user_type == "customer" %}
                                <a href="{% url 'core:customer_home' %}">Click here to go back.</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                </tbody>


            </table>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var csrfToken = "{{ csrf_token }}";
</script>

<script src="{% static 'js/custom-scripts/owner/wishlist.js' %}"></script>  

{% endblock %}