@use '../../../../custom' as *;

.admin_new_arrivals_section {
    margin-bottom: 5rem;

    .modal-btn {
        margin-bottom: 2rem;
    }

    h1.title {
        text-align: center;
        margin-bottom: 3rem;
    }

    .new-arrival-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 5rem;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.7rem;

            li {
                width: 16rem;
                padding: 0;
                position: relative;
                border: 2px solid $gray-300;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                input {
                    position: absolute;
                    top: 3%;
                    left: 3%;
                }

                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    .new-arrival {
                        width: 100%;
                        position: relative;
                        padding: 0.7rem 1.5rem 1.5rem 1.5rem;

                        .product-image {
                            width: 13rem;
                            height: 15rem;
                            margin: 0  auto 1rem auto;
                            border: 2px solid $gray-300;
                            border-radius: 10px;
        
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 10px;
                            }
                        }
            
                        .product-description {
                            width: 100%;
    
                            p {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }

        #delete-new-arrival-btn {
            width: 90px;
            height: 35px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .new-arrival-modal {
        max-width: 80%;

        .modal-content {
            height: 100%;
            padding: 2rem;

            .modal-header {
                display: flex;
                justify-content: space-between;

                .header-btn {
                    display: flex;
                    column-gap: 3rem;
                    justify-content: center;
                    align-items: center;

                    .add-new-arrival-btn {
                        width: 90px;
                        height: 35px;
                    }
                }
            }

            .product-box {
        
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    row-gap: 2rem;
        
                    li {
                        border: 2px solid $black;
                        border-radius: 15px;
                        width: 16rem;
                        padding: 0;
                        position: relative;
        
                        input {
                            position: absolute;
                            top: 3%;
                            left: 3%;
                        }
        
                        label {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            
                            .product {
                                width: 100%;
                                position: relative;
                                padding: 0.7rem 1.5rem 1.5rem 1.5rem;
        
                                &-image {
                                    width: 13rem;
                                    height: 15rem;
                                    margin: 0  auto 1rem auto;
                                    border-radius: 1rem;
                                    border: 2px solid $black;
                
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        border-radius: 1rem;
                                    }
                                }
                    
                                &-description {
                                    width: 100%;
            
                                    p {
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}