@use '../../../../custom' as *;

.admin_social_media_section {
    height: 70vh;

    form {

        .social-media-box {
            display: flex;
            justify-content: space-between;

            .social-media-dropdown {
                width: 47%;
            }
    
            .url-collection-box {
                width: 47%;

                .form-row {

                    .input-wrapper {
                        display: flex;
                        column-gap: 1rem;
                    }
                }
            }
        }
    }
}