@use '../../../../custom' as *;

.shop_inventory_modal_section {

    .product-modal {
        max-width: 80%;

        .modal-body {
            padding: 3rem;

            .main-data {

                .data-1 {
                    display: flex;
                    border: 2px solid $black;
                    justify-content: space-between;

                    .column1 {
                        border: 2px solid $black;
                        padding: 1rem;
                        flex: 0 0 47%;

                        input, select {
                            width: 100%;
                            height: 2.5rem;
                            margin-top: 5px;
                            margin-bottom: 1rem;
                        }
                    }

                    .column2 {
                        flex: 0 0 47%;
                        padding: 1rem;
                        border: 2px solid $black;

                        .field {
                            width: 100%;
                            height: 100%;

                            .product-image {
                                border: 2px solid $black;
                                width: 100%;
                                height: 90%;
                                position: relative;

                                .select-image-btn {
                                    display: block;
                                    width: 30%;
                                    margin: auto;
                                    padding: 8px 0;
                                    border-radius: 15px;
                                    background: $primary;
                                    color: #fff;
                                    font-weight: 500;
                                    font-size: 16px;
                                    border: none;
                                    cursor: pointer;
                                    position: absolute;
                                    top: 105%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                    
                                .image-preview-box {
                                    width: 100%;
                                    height: 100%;
                                    background: #fff;
                                    border-radius: 15px;
                    
                                    .img-area {
                                        position: relative;
                                        width: 100%;
                                        height: 100%;
                                        background: $gray-300;
                                        border-radius: 15px;
                                        overflow: hidden;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;
                    
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-position: center;
                                            z-index: 100;
                                        }
                    
                                        i {
                                            font-size: 100px;
                                        }
                                        
                                        p {
                                            color: #999;
                    
                                            span {
                                                font-weight: 600;
                                            }
                                        }
                    
                                    }
                                    .img-area::before {
                                        content: attr(data-img);
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background: rgba(0, 0, 0, .5);
                                        color: #fff;
                                        font-weight: 500;
                                        text-align: center;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        pointer-events: none;
                                        opacity: 0;
                                        transition: all .3s ease;
                                        z-index: 200;
                                    }
                                    .img-area.active:hover::before {
                                        opacity: 1;
                                    }
                    
                    
                                    .img-area.image-uploaded {
                                        background-color: white;
                    
                                        i, h3, p {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .data-2 {
                    border: 2px solid $black;

                    .row2 {
                        display: flex;
                        justify-content: space-between;

                        .column1 {
                            flex: 0 0 47%;
                            border: 2px solid $black;
                            padding: 1rem;

                            textarea {
                                width: 100%;
                                margin-top: 5px;
                                margin-bottom: 1rem;
                                max-height: 15rem;
                            }
                        }

                        .column2 {
                            flex: 0 0 47%;
                            padding: 1rem;
                            border: 2px solid $black;
                            width: 100%;
                            height: 39.30rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .product-video {
                                border: 2px solid $black;
                                height: 48.5%;
                                width: 100%;
                                

                                &:hover {
                                    .video-preview-box {
                                        .btn {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }

                                .video-description {
                                    border: 2px solid $black;
                                    position: relative;
                
                                    textarea {
                                        position: absolute;
                                        top: 100%;
                                        left: 0%;
                                        width: 100%;
                                    }
                                }
                    
                                .video-preview-box {
                                    width: 100%;
                                    height: 100%;
                                    background: #fff;
                                    border-radius: 15px;
                                    position: relative;

                                    .btn {
                                        position: absolute;
                                        z-index: 9999;
                                        opacity: 0;
                                        visibility: hidden;
                                        transition: opacity 0.3s ease, visibility 0.3s ease;
                                    }
    
                                    .toggle-description-btn {
                                        bottom: 0;
                                        left:  0;
                                    }
    
                                    .select-video-btn {
                                        top: 0%;
                                        right: 0%;
                                    }
        
                                    .delete-product-video {
                                        top: 0%;
                                        left: 0%;
                                    }
                    
                                    .video-area {
                                        position: relative;
                                        width: 100%;
                                        height: 100%;
                                        background: $gray-300;
                                        border-radius: 15px;
                                        overflow: hidden;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;
                    
                                        video {
                                            width: 100%;
                                            height: 100%;
                                            object-position: center;
                                        }
                    
                                        i {
                                            font-size: 100px;
                                        }
                                        
                                        p {
                                            color: #999;
                    
                                            span {
                                                font-weight: 600;
                                            }
                                        }
                    
                                    }
                    
                    
                                    .video-area.video-uploaded {
                                        background-color: white;
                    
                                        i, h3, p {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .more-data {
                border: 2px solid $black;
                position: relative;

                .more-product-image {
                    position: relative;

                    .add-more-images-btn-box {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }

                    .more-product-image-box {
                        min-height: 11rem;
                        padding: 4rem;
                        border: 2px solid $black;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 3.1rem 2.621rem;
    
                        .product-image {
                            border: 2px solid $black;
                            height: 15rem;
                            flex: 0 0 46.8%;
                            position: relative;

                            &:hover {
                                .btn {
                                    opacity: 1;
                                    visibility: visible;
                                }   
                            }

                            .btn {
                                position: absolute;
                                z-index: 9999;
                                opacity: 0;
                                visibility: hidden;
                                transition: opacity 0.3s ease, visibility 0.3s ease;
                            }
    
                            .select-more-image-btn {
                                top: 0%;
                                right: 0%;
                            }
    
                            .delete-more-product-image {
                                bottom: 0%;
                                right: 0%;
                            }

                            .remove-more-product-image {
                                top: 0%;
                                left: 0%;
                            }
                
                            .image-preview-box {
                                width: 100%;
                                height: 100%;
                                background: #fff;
                                border-radius: 15px;
                
                                .more-img-area {
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    background: $gray-300;
                                    border-radius: 15px;
                                    overflow: hidden;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-position: center;
                                        z-index: 100;
                                    }
                
                                    i {
                                        font-size: 100px;
                                    }
                                    
                                    p {
                                        color: #999;
                
                                        span {
                                            font-weight: 600;
                                        }
                                    }
                
                                }
                                .more-img-area::before {
                                    content: attr(data-img);
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(0, 0, 0, .5);
                                    color: #fff;
                                    font-weight: 500;
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    pointer-events: none;
                                    opacity: 0;
                                    transition: all .3s ease;
                                    z-index: 200;
                                }
                                .more-img-area.active:hover::before {
                                    opacity: 1;
                                }
                
                
                                .more-img-area.more-image-uploaded {
                                    background-color: white;
                
                                    i, h3, p {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .more-product-video {
                    position: relative;

                    .add-more-videos-btn-box {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }


                    .more-product-video-box {
                        min-height: 11rem;
                        padding: 5rem 3rem;
                        border: 2px solid $black;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5rem 2.621rem;
                        
    
                        .product-video {
                            height: 19rem;
                            flex: 0 0 47.3%;
                            border: 2px solid $gray-300;
                            border-radius: 10px;
                            position: relative;

                            &:hover {
                                .btn {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }

                            .btn {
                                position: absolute;
                                z-index: 9999;
                                opacity: 0;
                                visibility: hidden;
                                transition: opacity 0.3s ease, visibility 0.3s ease;
                            }

                            .toggle-description-btn {
                                bottom: 0;
                                left:  0;
                            }

                            .select-video-btn {
                                top: 0%;
                                right: 0%;
                            }
    
                            .delete-more-product-video {
                                bottom: 0%;
                                right: 0%;
                            }

                            .remove-more-product-video {
                                top: 0%;
                                left: 0%;
                            }
    
                            .video-description-container {
                                position: relative;
    
                                textarea {
                                    position: absolute;
                                    top: 100%;
                                    left: 0%;
                                    width: 100%;
                                }
                            }
                
                            .video-preview-box {
                                height: 100%;
                                display: block;
                                background: #fff;
                                border-radius: 15px;
                                border: 2px solid $primary;
                
                                .video-area {
                                    width: 100%;
                                    height: 100%;
                                    background: $gray-300;
                                    border-radius: 15px;
                                    overflow: hidden;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                
                                    video {
                                        width: 100%;
                                        height: 100%;
                                        object-position: center;
                                        z-index: 100;
                                    }
                
                                    i {
                                        font-size: 100px;
                                    }
                                    
                                    p {
                                        color: #999;
                
                                        span {
                                            font-weight: 600;
                                        }
                                    }
                
                                }
                
                
                                .video-area.video-uploaded {
                                    background-color: white;
                
                                    i, h3, p {
                                        display: none;
                                    }
                                }
                
                                .select-video-btn {
                                    display: block;
                                    width: 30%;
                                    margin: auto;
                                    padding: 8px 0;
                                    border-radius: 15px;
                                    background: $blue;
                                    color: #fff;
                                    font-weight: 500;
                                    font-size: 16px;
                                    border: none;
                                    cursor: pointer;
                                    position: absolute;
                                    top: 105%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                }
            }
            .transaction-log {
                margin-top: 3rem;

                table {
                    width: 100%;

                    td, th {
                        text-align: center;
                        width: 14%;
                    }

                    thead {
                        position: sticky;
                        top: -1;
                        z-index: 9999;

                        display: table;
                        width: 100%;
                        table-layout: fixed;
                    }

                    tbody {
                        display: block;
                        max-height: 300px;
                        overflow-y: scroll;

                        tr {
                            display: table;
                            width: 100%;
                            table-layout: fixed;
                        }
                    }

                    /* Custom Scrollbar for WebKit Browsers */
                    tbody::-webkit-scrollbar {
                        width: 10px;                /* Width of the scrollbar */
                    }
                    
                    tbody::-webkit-scrollbar-track {
                        background: #f1f1f1;        /* Background of the scrollbar track */
                    }
                    
                    tbody::-webkit-scrollbar-thumb {
                        background: #888;           /* Color of the scrollbar thumb */
                        border-radius: 5px;         /* Rounded edges for the thumb */
                    }
                    
                    tbody::-webkit-scrollbar-thumb:hover {
                        background: $primary;           /* Color when hovered */
                    }
                }
            }

            .save-changes-btn {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 10rem;
                background-color: $primary;
                color: white;
                font-size: 1.3rem;
                font-weight: 500;
                border: none;
                margin-top: 1rem;
            }
        }
    }

    .category-modal {
        max-width: 80%;

        .modal-body {
            padding: 3rem;

            .row1 {
                display: flex;
                gap: 2rem;
                border: 2px solid $black;
                height: 80vh;

                .column1 {
                    border: 2px solid $black;
                    padding: 1rem;
                    flex: 0 0 47%;
    
                    input, textarea {
                        width: 100%;
                        height: 2.5rem;
                        margin-top: 5px;
                        margin-bottom: 1rem;
                    }
                }
    
                .column2 {
                    flex: 0 0 47%;
                    padding: 1rem;
                    border: 2px solid $black;
    
                    .field {
                        width: 100%;
                        height: 100%;
    
                        .category-image {
                            border: 2px solid $black;
                            width: 100%;
                            height: 90%;
                            position: relative;
    
                            .select-category-image-btn {
                                display: block;
                                width: 30%;
                                margin: auto;
                                padding: 8px 0;
                                border-radius: 15px;
                                background: $primary;
                                color: #fff;
                                font-weight: 500;
                                font-size: 16px;
                                border: none;
                                cursor: pointer;
                                position: absolute;
                                top: 105%;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                
                            .image-preview-box {
                                width: 100%;
                                height: 100%;
                                background: #fff;
                                border-radius: 15px;
                
                                .category-img-area {
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    background: $gray-300;
                                    border-radius: 15px;
                                    overflow: hidden;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-position: center;
                                        z-index: 100;
                                    }
                
                                    i {
                                        font-size: 100px;
                                    }
                                    
                                    p {
                                        color: #999;
                
                                        span {
                                            font-weight: 600;
                                        }
                                    }
                
                                }
                                .category-img-area::before {
                                    content: attr(data-img);
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(0, 0, 0, .5);
                                    color: #fff;
                                    font-weight: 500;
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    pointer-events: none;
                                    opacity: 0;
                                    transition: all .3s ease;
                                    z-index: 200;
                                }
                                .category-img-area.active:hover::before {
                                    opacity: 1;
                                }
                
                
                                .category-img-area.image-uploaded {
                                    background-color: white;
                
                                    i, h3, p {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .product-table {
                margin-top: 3rem;

                table {
                    td, th {
                        text-align: center;
                        width: 14%;
                    }

                    thead {
                        position: sticky;
                        top: -1;
                        z-index: 9999;

                        display: table;
                        width: 100%;
                        table-layout: fixed;
                    }

                    tbody {
                        display: block;
                        max-height: 300px;
                        overflow-y: scroll;

                        tr {
                            display: table;
                            width: 100%;
                            table-layout: fixed;
                        }
                    }

                    /* Custom Scrollbar for WebKit Browsers */
                    tbody::-webkit-scrollbar {
                        width: 10px;                /* Width of the scrollbar */
                    }
                    
                    tbody::-webkit-scrollbar-track {
                        background: #f1f1f1;        /* Background of the scrollbar track */
                    }
                    
                    tbody::-webkit-scrollbar-thumb {
                        background: #888;           /* Color of the scrollbar thumb */
                        border-radius: 5px;         /* Rounded edges for the thumb */
                    }
                    
                    tbody::-webkit-scrollbar-thumb:hover {
                        background: $primary;           /* Color when hovered */
                    }
    
                   .quantity {
    
                    input {
                        width: 67%;
                    }
                   }
    
                   .btns {
                    width: 100%;
    
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;
    
                    .add-and-sell {
                        display: flex;
                        justify-content: space-between;
    
                        button {
                            flex: 0 0 45%;
                        }
                    }
    
                    .undo {
                        width: 100%;
    
                        button {
                            width: 100%;
                        }
                    }
    
                   }
                }
            }

            .save-changes-btn {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 10rem;
                background-color: $primary;
                color: white;
                font-size: 1.3rem;
                font-weight: 500;
                border: none;
                margin-top: 1rem;
            }
        }
    }
}