@use '../../../../custom' as *;

.shop_inventory_intro_section {

    nav .inventory-tabs {
        display: flex;
        justify-content: center;

        button {
            color: $primary;
        }
    }

    .tab-content {

        .products-tab {
            height: 150vh;
            overflow-y: scroll;
            padding: 2.5rem;

            table {

                .product-btn {
                    background-color: $primary;
                    color: $white;
                }

                td, th {
                    text-align: center;
                    width: 14%;
                }

                .reduce {
                    width: 10%;
                }

                .enlarge {
                    width: 16%;
                }

               .quantity {

                input {
                    width: 67%;
                }
               }

               a.remove-product {

                    i {
                        color: $red;
                        font-size: 1.3rem;
                    }  
                }

               .btns {
                width: 100%;

                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;

                .add-and-sell {
                    display: flex;
                    justify-content: space-between;

                    .add-stock {
                        background-color: $blue;
                        border: none;
                        color: $white;
                    }

                    .sell-stock {
                        background-color: $orange;
                        border: none;
                        color: $white;
                    }

                    button {
                        flex: 0 0 45%;
                    }
                }

                .undo {
                    width: 100%;

                    button {
                        width: 100%;
                        background-color: $gray-200;
                        border: none;
                    }
                }

               }
            }
        }

        .categories-tab {
            height: 150vh;
            overflow-y: scroll;
            padding: 2.5rem;

            table {

                .category-btn {
                    background-color: $primary;
                    color: $white;
                }

                td, th {
                    text-align: center;
                    width: 14%;
                }

                a.remove-category {

                    i {
                        color: $red;
                        font-size: 1.3rem;
                    }  
                }
            }
        }

        .analytics-tab {

            display: flex;
            justify-content: center;
            align-items: center;
            height: 23rem; 
            position: relative;
            background-color: $gray-100;

            span {
                position: absolute;
                font-size: 48px; 
                font-weight: bold;
                color: #555; 
                transform: rotate(-15deg); 
                letter-spacing: 5px; 
                text-align: center;
            }
        }
    }
}