@use '../../../custom' as *;

.owner_submenu_section {
    margin: 2rem 0 2rem 0;
    padding-top: 5rem;

    .owner-submenu-section-box {
        min-height: 3.3rem;
        position: relative;
        border: 2px solid $gray-200;

        .submenu {
            list-style-type: none;
            display: flex;
            align-items: center;
            column-gap: 5rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            z-index: 999;

            li {

                a {
                    text-decoration: none;
                    color: $black;
                }

                ul.dropdown-menu {
                    padding: 0;

                    li {
                        width: 100%;
                    }
                }
            }

            .browse-dropdown {
                padding-right: 20px;
                position: relative;

                .browse-btn {
                    border: none;
                }

                .dropdown-toggle::after {
                    position: absolute;
                    top: 50%;
                    left: 65%;
                }
            }

            .category-dropdown {
                padding-right: 20px;
                position: relative;

                .category-btn {
                    border: none;
                }

                .dropdown-toggle::after {
                    position: absolute;
                    top: 50%;
                    left: 71%;
                }

                .custom-dropdown-menu {
                    
                    .category-row {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}

/* Styles for the Error and Success Message */

.owner_submenu_message_box_section {
    margin-top: 3rem;
    
    .message-box {
        min-height: 3.3rem;
        width: 88%;
        border: 2px solid $black;
        margin-left: auto;
        margin-right: auto;
    }

}