@use '../../../../custom' as *;

.search_result_section {

    .result-section-box {

        .intro-banner {
            background-color: #1987542b;
            height: 9rem;
            margin-bottom: 3.3rem;
            border-radius: 2rem;
            padding: 2rem 3rem 2rem 3rem;

            .breadcrumb-box {

                li {

                    a {
                        text-decoration: none;
                        color: $primary;
                    }
                }
                .breadcrumb-item + .breadcrumb-item::before {
                    content: ">";
                }

            }
        }

        .filter-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 3rem;
    
            .filter-by-category {
                display: flex;
                flex-direction: column;
                padding: 15px 27px;
                border: 2px solid $black;
                border-radius: 2rem;
                min-height: 23rem;
                position: relative;
                width: 20rem;
                row-gap: 1rem;
    
                a {
                    text-decoration: none;
                    color: $black;
                }
    
                h3::after {
                    content: "";
                    height: 3px;
                    width: 80%;
                    display: block;
                    background-color: $primary;
                    position: absolute;
                    top: 57px;
                    left: 50%;
                    transform: translateX(-50%);
                }
    
                .category-box {
                    border: 2px solid $black;
                    padding: 0.5rem;
                    font-size: 1.5rem;

                    .category-label {
                        display: flex;
                        align-items: center;

                        .category-checkbox {
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                        .category-name {
                            font-size: 1.5rem;
                            margin-bottom: 3px;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .filter-by-category .category-box:nth-child(2){
                margin-top: 1rem;
            }

            .filter-by-price {
                padding: 15px 27px;
                border: 2px solid $black;
                border-radius: 2rem;
                min-height: 23rem;
                position: relative;
                width: 21rem;

                h3::after {
                    content: "";
                    height: 3px;
                    width: 80%;
                    display: block;
                    background-color: $primary;
                    position: absolute;
                    top: 57px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .price-filter-box {
                    margin-top: 2.2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;

                    input {
                        border: 1px solid $primary;
                    }

                    .error {
                        display: none; /* Initially hide the error messages */
                        color: red;
                        margin-top: 5px;
                    }                    
                }
            }
        }

        .product-collection {

            h3 {
                margin: 0rem 0rem 1.5rem 1.5rem;
            }
    
            .product-collection-box {
                display: flex;
                column-gap: 13px;
                width: 100%;
                margin-left: 20px;
    
                .product-box {
                    border: 2px solid $black;
                    width: 17rem;
                    border-radius: 15px;
                    padding: 0.7rem 1.5rem 1.5rem 1.5rem;
    
                    .product-image {
                        width: 13rem;
                        height: 15rem;
                        margin: 0  auto 1rem auto;
                        border-radius: 1rem;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 1rem;
                        }
                    }
    
                    .price-and-button{
                        display: flex;
                        column-gap: 1.7rem;
    
                        .add-btn {
                            padding: 5px;
                            background-color: $primary;
                            color: $white;
                            width: 110px;
                        }
    
                        p {
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}